$topnav-background-color: #fafafa;
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: -50px;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #d48d48;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #d48d48;
        color: #d48d48;
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid #d48d48;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color: #d48d48;
        background: $topnav-background-color;
        border: 2px solid #d48d48;
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color: #d48d48;
        border: 2px solid #d48d48;
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 30px;
        small {
            color: #d48d48;
        }
    }

    .form-group {
        padding: 6px 0;
        input::-webkit-input-placeholder {
            color: #d5d5d5 !important;

        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: #d5d5d5 !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: #d5d5d5 !important;
        }

        input:-ms-input-placeholder {
            color: #d5d5d5 !important;
        }
    }
    .form-content {
        padding: 40px 0;
    }
    .user-avatar {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #656565;
    }

    .background-login-img
    {
       margin-top:-550px;
       margin-bottom: 0px;
       margin-right: 0px;
       margin-left: 450px;
       width: 1100px;
       height: 900px;
    }

    .background-register-img
    {
       margin-top:-550px;
       margin-bottom: 0px;
       margin-right: 0px;
       margin-left: 450px;
       width: 1100px;
       height: 900px;
    }

    .content-login-page
    {
        max-width: 400px;
        margin-top: 0px;
        margin-bottom:0px;
    }

    .justify-content-register-page
    {
        margin-top: -50px;
    }
}
