<div [@routerTransition] class="margin-pages">
    <!-- <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header> -->
    <div>
        <h3 class="margin-pages">Alterar Parâmetros do Jogo</h3>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="game-parameters-container">

        <div class="game-parameters-line">

            <mat-form-field class="game-parameters-item">
                <input matInput type="number" placeholder="Cadastros de Clientes" [(ngModel)]="registerClients">
            </mat-form-field>
            <mat-form-field class="game-parameters-item">
                <input matInput type="number" placeholder="Número de Vendas" [(ngModel)]="numberOfSales">
            </mat-form-field>
            <mat-form-field class="game-parameters-item">
                <input matInput type="number" placeholder="Ticket Médio Valor" [(ngModel)]="averageTicketValue">
            </mat-form-field>
            
        </div>
        <div class="game-parameters-line">
    
            <mat-form-field class="game-parameters-item">
                <input matInput type="number" placeholder="Cadastro de Flor Aliada" [(ngModel)]="registerReseller">
            </mat-form-field>
            <mat-form-field class="game-parameters-item">
                <input matInput type="number" placeholder="Peças por Atendimento" [(ngModel)]="itensPerSale">
            </mat-form-field>
            <div class="game-parameters-item"></div>
        </div>

    </div>

    <div class="form-center-layout">
        <button (click)="updateGamificationPoints()" mat-raised-button color="accent" >CONFIRMAR</button>       
    </div>
</div>
