<div [@routerTransition] class="margin-pages">
    <!-- <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header> -->
    <div>
        <h3 class="margin-pages">Alterar Parâmetros do Jogo</h3>
    </div>
    <div class="row">
        <div class="col-lg-6 padding-top">
            <form role="form">
                <!-- <fieldset class="form-group">
                    <label>Text Input</label>
                    <input class="form-control">
                    <p class="help-block">Example block-level help text here.</p>
                </fieldset> -->

                <fieldset class="form-group">
                    <label>Cadastros de Clientes*</label>
                    <input class="form-control" placeholder="Digite aqui...">
                </fieldset>

                <fieldset class="form-group">
                    <label>Número de Vendas</label>
                    <input class="form-control" placeholder="Digite aqui...">
                </fieldset>

                <fieldset class="form-group">
                    <label>Ticket Médio Valor</label>
                    <input class="form-control" placeholder="Digite aqui...">
                </fieldset>
            </form>
        </div>
        <div class="col-lg-6 padding-top">
            <form role="form">
                <fieldset class="form-group">
                    <label>Cadastro de Pétalas</label>
                    <input class="form-control" placeholder="Digite aqui...">
                </fieldset>

                <fieldset class="form-group">
                    <label>Peças por Atendimento</label>
                    <input class="form-control" placeholder="Digite aqui...">
                </fieldset>

            </form>
            <br>
        </div>
    </div>

    <div class="col-lg-12 padding-top">

    </div>
    <div class="form-center-layout">
        <button type="submit" class="btn btn-primary margin-pages">CONFIRMAR</button>
    </div>
</div>
