<div [@routerTransition] class="margin-pages">
    <!-- <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header> -->
    <div>
        <h4 class="margin-pages">Inserir Pontos para Revendedora</h4>
    </div>

    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

    <div class="insert-points-container">

        <mat-form-field class="insert-points-line-item">
            <input type="email" placeholder="Email da revendedora" matInput [matAutocomplete]="auto" [(ngModel)]="selectedSalespersonEmail">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let salesperson of salespeople" [value]="salesperson.Email">
                {{ salesperson.Email }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>


        <div class="insert-points-line">
            <mat-form-field class="insert-points-item">
                <input matInput placeholder="Pontos de Vendas Efetuadas" type="number" [(ngModel)]="numberOfSales">
            </mat-form-field>
            <mat-form-field class="insert-points-item">
                <input matInput placeholder="Pontos de Ticket Médio" type="number" [(ngModel)]="averageTicket">
            </mat-form-field>
            <mat-form-field class="insert-points-item">
                <input matInput placeholder="Pontos de Convidar Flores Aliadas" type="number" [(ngModel)]="registerReseller">
            </mat-form-field>
        </div>

        <div class="insert-points-line">
            <mat-form-field class="insert-points-item">
                <input matInput placeholder="Pontos de Peças por Atendimento" type="number" [(ngModel)]="itensPerSale">
            </mat-form-field>
            <mat-form-field class="insert-points-item">
                <input matInput placeholder="Pontos de Cadastro de Clientes" type="number" [(ngModel)]="registerClients">
            </mat-form-field>
            <div class="insert-points-item"></div>
        </div>

        <mat-form-field class="insert-points-line-item">
            <textarea matInput placeholder="Justificativa" [(ngModel)]="description" class="insert-points-text-area"></textarea>
        </mat-form-field>
    </div>
    
    <div class="form-center-layout">
        <button type="submit" class="btn btn-primary btn-color-excel">CONFIRMAR</button>
    </div>
</div>
