<div [@routerTransition] class="margin-pages">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div>
        <h3 class="margin-pages">Registrar novo Revendedor</h3>
    </div>
    <div class="register-salesperson-container">

        <div class="register-salesperson-line">

            <mat-form-field class="register-salesperson-item">
                <input matInput placeholder="Nome" type="text" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field class="register-salesperson-item">
                <input matInput placeholder="CPF" type="text" [(ngModel)]="cpf">
            </mat-form-field>
            <mat-form-field class="register-salesperson-item">
                <input matInput placeholder="Email" type="email" [(ngModel)]="email">
            </mat-form-field>

        </div>

        <div class="register-salesperson-line">

            <mat-form-field class="register-salesperson-item">
                <input matInput placeholder="Telefone primário" type="text" [(ngModel)]="primaryPhone">
            </mat-form-field>
            <mat-form-field class="register-salesperson-item">
                <input matInput placeholder="Telefone secundário" type="text" [(ngModel)]="secondaryPhone">
            </mat-form-field>
            <mat-form-field class="register-salesperson-item">
                <input matInput placeholder="CEP" type="text" [(ngModel)]="cep">
            </mat-form-field>
            
        </div>

    </div>
    <div class="form-center-layout">
        <button type="submit" (click)="clickRegisterSalesperson()" class="btn btn-primary margin-pages btn-color-excel">CONFIRMAR</button>
    </div>
</div>
