<div [@routerTransition] class="margin-pages">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div>
        <h3 class="margin-pages">Registrar nova Flor</h3>
    </div>
    <div class="register-salesperson-container">

        <div class="register-salesperson-line">

            <mat-form-field class="register-salesperson-item">
                <input matInput placeholder="Nome" type="text" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field class="register-salesperson-item">
                <input matInput placeholder="CPF" type="number" [(ngModel)]="cpf">
            </mat-form-field>
            <mat-form-field class="register-salesperson-item">
                <input matInput placeholder="Email" type="email" [(ngModel)]="email">
            </mat-form-field>

        </div>

        <div class="register-salesperson-line">

            <mat-form-field class="register-salesperson-item">
                <input matInput placeholder="Telefone primário" type="number" [(ngModel)]="primaryPhone">
            </mat-form-field>
            <mat-form-field class="register-salesperson-item">
                <input matInput placeholder="Telefone secundário" type="number" [(ngModel)]="secondaryPhone">
            </mat-form-field>
            <mat-form-field class="register-salesperson-item">
                <input matInput placeholder="CEP" type="number" [(ngModel)]="cep">
            </mat-form-field>
            
        </div>
        <div class="register-salesperson-line">

            <mat-form-field class="register-salesperson-item">
                <input matInput [matDatepicker]="picker" placeholder="Data de aniversário" [(ngModel)]="birthday">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field class="register-salesperson-double-item">
                <input type="email" placeholder="Email da flor investidora (caso seja flor aliada)" matInput [matAutocomplete]="auto" [(ngModel)]="motherFlowerEmail">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let salesperson of salespeople" [value]="salesperson.Email">
                    {{ salesperson.Email }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

    </div>
    <div class="form-center-layout">
        <button type="submit" (click)="clickRegisterSalesperson()" class="btn btn-primary margin-pages btn-color-excel">CONFIRMAR</button>
    </div>
</div>
