<h1 mat-dialog-title>Digite o email abaixo para receber uma nova senha</h1>
    <mat-dialog-content>
      <mat-form-field style="width:100%;">
        <input style="width:100%;" matInput placeholder="Email de acesso ao sistema" type="email" [(ngModel)]="email">
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions style="width:100%;">
      <button mat-button color="primary" (click)="onResetPasswordClick()">Enviar</button>
      <button mat-button color="primary" (click)="onCancelClick()">Cancelar</button>
    </mat-dialog-actions>
