<div [@routerTransition]>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div>
                    <h3 class="form-start-layout">Lista de Revendedoras</h3>
                    <button type="button" class="btn btn-lg btn-primary form-end-layout btn-color-excel">Exportar para Excel</button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>CPF</th>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>Revendedora Vinculada</th>
                                <th>Ticket Médio</th>
                                <th>Cadastro de Clientes</th>
                                <th>Peças por Atendimento</th>
                                <th>Convite de Flores Aliadas</th>
                                <th>Vendas Efetuadas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
