<div [@routerTransition]>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div>
                    <h3 class="form-start-layout">Lista de Revendedoras</h3>
                    <button type="button" (click)="generateSalespeopleReport()" class="btn btn-lg btn-primary form-end-layout btn-color-excel">Exportar para Excel</button>
                </div>
                <div class="card-body table-responsive">
                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>Aniversário</th>
                                <th>Revendedora Vinculada</th>
                                <th>Sementes de Ticket Médio</th>
                                <th>Sementes de Cadastro de Clientes</th>
                                <th>Sementes de Peças por Atendimento</th>
                                <th>Sementes de Convite de Flores Aliadas</th>
                                <th>Sementes de Vendas Efetuadas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let salesperson of salespeople">
                                <td>{{salesperson.Name}}</td>
                                <td>{{salesperson.Cpf}}</td>
                                <td>{{salesperson.Email}}</td>
                                <td>{{salesperson.PrimaryTelephone}}</td>
                                <td>{{salesperson.Birthday | date:'dd/MM'}}</td>
                                <td>{{salesperson.MotherFlowerName}}</td>
                                <td>{{salesperson.AverageTicketPoints}}</td>
                                <td>{{salesperson.RegisterClientsPoints}}</td>
                                <td>{{salesperson.AverageItensPerSalePoints}}</td>
                                <td>{{salesperson.InviteAllyFlowersPoints}}</td>
                                <td>{{salesperson.SalesNumberPoints}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
