<img src="assets/images/banner_top5.png" id="bg" alt=""/>
<div class="login-main-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <mat-card class="login-card" [@routerTransition]>
        <img mat-card-image class="login-image" src="assets/images/logo_login.png">
        <mat-card-content>
            <div class="login-form-container">
                <mat-form-field>
                    <input matInput placeholder="Email" type="email" [(ngModel)]="email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Senha" type="password"  [(ngModel)]="password">
                </mat-form-field>
            </div>
            <div class="login-button-container">
                <button mat-button color="primary" class="login-button" (click)="onLoggedin()">Login</button>
                <button mat-button color="primary" class="login-button" (click)="onForgotPassword()" >Esqueci minha senha</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>

