<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a [routerLink]="['/register-admin']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user-o"></i>&nbsp;Novo Adminstrador
        </a>
        <div class="sidebar-divider"></div>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-user-circle-o"></i>&nbsp;Nova Flor
        </a>
        <a [routerLink]="['/reseller']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list-alt"></i>&nbsp;Lista de Flores
        </a>
        <a [routerLink]="['/sales-report']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;Relatório de Vendas
        </a>
        <a [routerLink]="['/list-clients']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-list-ul"></i>&nbsp;Lista de Clientes
        </a>
        <div class="sidebar-divider"></div>
        <a [routerLink]="['/ranking']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-list-ol"></i>&nbsp;Ranking Geral
        </a>
        <a [routerLink]="['/game-parameters']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;Parâmetros do Jogo
        </a>
        <a [routerLink]="['/insert-points']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-plus"></i>&nbsp;Inserir Sementes
        </a>
        <a [routerLink]="['/insert-challenges']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-plus-square"></i>&nbsp;Inserir Desafio
        </a>
        <div class="sidebar-divider"></div>
        <a class="list-group-item" [routerLink]="['/login']" (click)="onLoggedout()">
            <i class="fa fa-fw fa-power-off"></i>&nbsp;Log Out
        </a>
    </div>
</nav>
