<div [@routerTransition] class="margin-pages">
    <!-- <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header> -->
    <div>
        <h3 class="margin-pages">Inserir Novo Desafio</h3>
    </div>
    <div class="row">
        <div class="col-lg-6 padding-top">
            <form role="form">
                <!-- <fieldset class="form-group">
                    <label>Text Input</label>
                    <input class="form-control">
                    <p class="help-block">Example block-level help text here.</p>
                </fieldset> -->

                <fieldset class="form-group">
                    <label>Nome do Desafio</label>
                    <input class="form-control" placeholder="Digite aqui...">
                </fieldset>

                <fieldset class="form-group">
                    <label>Data Inicial</label>
                    <input class="form-control" placeholder="Digite aqui...">
                </fieldset>

                <fieldset class="form-group">
                    <label>Data Final</label>
                    <input class="form-control" placeholder="Digite aqui...">
                </fieldset>
            </form>
        </div>
        <div class="col-lg-6 padding-top">
            <form role="form">
                <fieldset class="form-group">
                    <label>Quantidade de Pontos para quem cumprir o desafio</label>
                    <input class="form-control" placeholder="Digite aqui...">
                </fieldset>

                <fieldset class="form-group">
                    <label>Parâmetro do Desafio</label>
                    <input class="form-control" placeholder="Digite aqui...">
                </fieldset>

                <fieldset class="form-group">
                    <label>Aumento do parâmetro</label>
                    <input class="form-control" placeholder="Digite aqui...">
                </fieldset>
            </form>
            <br>
        </div>
    </div>

    <div class="col-lg-12 padding-top">
        <br>
    </div>
    <div class="form-center-layout">
        <button type="submit" class="btn btn-primary margin-pages">CONFIRMAR</button>
    </div>
</div>
