<div [@routerTransition] class="margin-pages">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="insert-challenges-container">
        <div class="insert-challenges-line">

            <h3 class="insert-challenges-double-item">Inserir Novo Desafio</h3>

            <mat-form-field class="insert-challenges-double-item">
                <mat-select placeholder="Selecionar Desafio"  [(ngModel)]="selectedChallenge" (change)="onSelectedChallengeChange($event.value)">
                    <mat-option *ngFor="let challenge of challenges" [value]="challenge">
                        {{ challenge.Name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div>
    <div class="insert-challenges-container" *ngIf="selectedChallenge === null">

        <div class="insert-challenges-line">

            <mat-form-field class="insert-challenges-triple-item">
                <input matInput placeholder="Nome do Desafio" type="text" [(ngModel)]="challengeName">
            </mat-form-field>

        </div>

        <div class="insert-challenges-line">
            <mat-form-field class="insert-challenges-double-item">
                <input matInput [matDatepicker]="initialpicker" placeholder="Data Inicial" [(ngModel)]="startDate">
                <mat-datepicker-toggle matSuffix [for]="initialpicker"></mat-datepicker-toggle>
                <mat-datepicker #initialpicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="insert-challenges-double-item">
                <input matInput [matDatepicker]="finalpicker" placeholder="Data Final" [(ngModel)]="endDate">
                <mat-datepicker-toggle matSuffix [for]="finalpicker"></mat-datepicker-toggle>
                <mat-datepicker #finalpicker></mat-datepicker>
            </mat-form-field>

        </div>

        <div class="insert-challenges-line">
            <mat-form-field class="insert-challenges-triple-item">
                <input matInput placeholder="Quantidade de Sementes para quem cumprir o desafio" type="number" [(ngModel)]="seedAmount">
            </mat-form-field>
        </div>

        <div class="insert-challenges-line">

            <mat-form-field class="insert-challenges-double-item">
                <mat-select placeholder="Parâmetro do Desafio" [(ngModel)]="challengeParameter">
                    <mat-option value="3">Cadastro de Clientes</mat-option>
                    <mat-option value="2">Convidar Flores Aliadas</mat-option>
                    <mat-option value="1">Vendas Efetuadas</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="insert-challenges-double-item">
                <input matInput placeholder="Objetivo" type="number" [(ngModel)]="goal">
            </mat-form-field>

        </div>

        <mat-form-field class="insert-challenges-line-item">
            <textarea matInput placeholder="Descrição" [(ngModel)]="description" class="insert-challenges-text-area"></textarea>
        </mat-form-field>
        
    </div>

    <div class="insert-challenges-container" *ngIf="selectedChallenge !== null">

        <div class="insert-challenges-line">

            <mat-form-field class="insert-challenges-triple-item">
                <input matInput placeholder="Nome do Desafio" type="text" [(ngModel)]="selectedChallenge.Name">
            </mat-form-field>

        </div>

        <div class="insert-challenges-line">
            <mat-form-field class="insert-challenges-double-item">
                <input matInput [matDatepicker]="initialpicker" placeholder="Data Inicial" [(ngModel)]="selectedChallenge.StartDate">
                <mat-datepicker-toggle matSuffix [for]="initialpicker"></mat-datepicker-toggle>
                <mat-datepicker #initialpicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="insert-challenges-double-item">
                <input matInput [matDatepicker]="finalpicker" placeholder="Data Final" [(ngModel)]="selectedChallenge.EndDate">
                <mat-datepicker-toggle matSuffix [for]="finalpicker"></mat-datepicker-toggle>
                <mat-datepicker #finalpicker></mat-datepicker>
            </mat-form-field>

        </div>

        <div class="insert-challenges-line">
            <mat-form-field class="insert-challenges-triple-item">
                <input matInput placeholder="Quantidade de Sementes para quem cumprir o desafio" type="number" [(ngModel)]="selectedChallenge.Prize">
            </mat-form-field>
        </div>

        <div class="insert-challenges-line">

            <mat-form-field class="insert-challenges-double-item">
                <mat-select placeholder="Parâmetro do Desafio" [(ngModel)]="selectedChallenge.Parameter">
                    <mat-option *ngFor="let challengeType of challengeTypes" value="{{challengeType.parametro}}">{{challengeType.nome}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="insert-challenges-double-item">
                <input matInput placeholder="Objetivo" type="number" [(ngModel)]="selectedChallenge.Goal">
            </mat-form-field>

        </div>

        <mat-form-field class="insert-challenges-line-item">
            <textarea matInput placeholder="Descrição" [(ngModel)]="selectedChallenge.Description" class="insert-challenges-text-area"></textarea>
        </mat-form-field>
        
    </div>

    <div class="form-center-layout-without-margin"  *ngIf="selectedChallenge === null">
        <button (click)="onInsertChallengeClick()" mat-raised-button color="accent">Aceitar</button>
    </div>
    <div class="form-center-layout-without-margin"  *ngIf="selectedChallenge !== null">
        <button (click)="onUpdateChallengeClick()" mat-raised-button color="accent">Atualizar</button>
    </div>
</div>
