.fs-12 {
    font-size: 12px;
}

.margin-pages
{
    margin: 20px;
}

.margin-main-page {
    margin: -15px;
}

.form-center-layout
{
    text-align:center;
}

.form-end-layout
{
    float:right;
    margin: 16px;
    text-align:center;
}

.form-start-layout
{
    text-align:center;
    float:left;
    margin: 16px;
}

.btn-color-excel {
    background-color: #008000;
    border-color: #008000;
}
